hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

li {
    list-style-type: none;
}

h5 {
    font-style: italic;
}

.panel-body {
    padding: 20px;
}

.panel-heading {
    padding: 1px 20px 10px;
}

.comments {
    padding: 1px;
}

.badge {
    left: 5px;
}

.panel:empty {
   display: none;
}

.login {
    margin: 0 auto;
    float: none;
}

.new-suggestion {
    margin: 0 auto;
    float: none;
}

.edit-suggestion {
    margin: 0 auto;
    float: none;
}

.well {
    margin: 0;
}

.vote-button {
    margin-right: 10px;
}

#delete-form {
   display: inline;
}

#edit {
   padding-bottom: 20px;
}

#vote {
    padding: 10px 20px;
}

#vote-title {
    text-decoration: underline;
    display: inline;
}